<!--
  ~ Copyright (c) 2022 Áron Katona
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand zoom" routerLink="/">{{appTitle}}</a>
    <button (click)="collapsed = !collapsed" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div (window:resize)="collapsed = true" [class.collapse]="collapsed" class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-template [ngIf]="user && user.role === UserRole.ROLE_CLIENT">
          <li class="nav-item">
            <a class="nav-link" routerLink="/historical">Historical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/baseline">Baseline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/schedule">Schedule device</a>
          </li>
        </ng-template>
      </ul>

      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn; else notLoggedIn" class="nav-item" display="dynamic" ngbDropdown
            placement="bottom-right">
          <a class="nav-link" id="navbarDropdown" ngbDropdownToggle role="button" tabindex="0">
            <fa-icon [icon]="faUser"></fa-icon>&nbsp;
            <span>{{user?.username}}</span>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu"
               ngbDropdownMenu>
            <a (click)="onLogout()" ngbDropdownItem>Logout</a>
          </div>
        </li>
        <ng-template #notLoggedIn>
          <li class="nav-item">
            <a (click)="onLogin()" class="btn btn-light">Login</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
