<!--
  ~ Copyright (c) 2022 Áron Katona
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="container ">
  <div class="form-group my-1 row">
    <div class="col-md-3">
      <label for="numberOfDays">Number of days in past: </label>
      <input (ngModelChange)="onNumberOfDaysChange($event)" [(ngModel)]="numberOfDays" [disabled]="loading"
             class="form-control" id="numberOfDays"
             min="1" step="1" type="number"/>
    </div>
  </div>
  <ng-container *ngIf="!loading; else loadingMessage">
    <ng-container *ngIf="showChart; else noData">
      <div class="ratio ratio-21x9">
        <ngx-charts-line-chart
          [animations]="true"
          [autoScale]="true"
          [legend]="false"
          [results]="chartData"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [timeline]="true"
          [xAxisLabel]="xAxisLabel"
          [xAxis]="true"
          [yAxisLabel]="yAxisLabel"
          [yAxis]="true"
        ></ngx-charts-line-chart>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <h1>There was no consumption in the last {{numberOfDays}} days</h1>
  </ng-template>
  <ng-template #loadingMessage>
    <div class="d-flex">
      <fa-icon [icon]="faSpinner" [spin]="true" class="my-auto mx-auto" size="5x"></fa-icon>
    </div>
  </ng-template>
</div>
