<!--
  ~ Copyright (c) 2022 Áron Katona
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="container ">
  <div class="form-group my-1 row">
    <div class="col-md-3">
      <label for="duration">Duration [hours]: </label>
      <input (ngModelChange)="onDurationChange($event)" [(ngModel)]="duration" [disabled]="loading"
             class="form-control" id="duration"
             min="1" step="1" type="number"/>
    </div>
    <div class="col-md-3">
      <label for="duration">Device: </label>
      <ng-select (ngModelChange)="onSelectedDeviceChange($event)"
                 [(ngModel)]="deviceId"
                 [items]="devices$ | async"
                 bindLabel="description"
                 bindValue="id">
      </ng-select>
    </div>
    <div class="col-md-6">
      <p class="lead">Start time: {{startTime | date:'short'}}</p>
    </div>
  </div>
  <ng-container *ngIf="!loading; else loadingMessage">
    <ng-container *ngIf="deviceId; else noDeviceSelected">
      <ng-container *ngIf="showChart; else noData">
        <div class="ratio ratio-21x9">
          <ngx-charts-line-chart
            [animations]="true"
            [autoScale]="true"
            [legend]="true"
            [results]="chartData"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [timeline]="true"
            [xAxisLabel]="xAxisLabel"
            [xAxisTicks]="xAxisTicks"
            [xAxis]="true"
            [yAxisLabel]="yAxisLabel"
            [yAxis]="true"
          ></ngx-charts-line-chart>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <h1>No data</h1>
  </ng-template>
  <ng-template #noDeviceSelected>
    <h1>Select a device</h1>
  </ng-template>
  <ng-template #loadingMessage>
    <div class="d-flex">
      <fa-icon [icon]="faSpinner" [spin]="true" class="my-auto mx-auto" size="5x"></fa-icon>
    </div>
  </ng-template>
</div>
