<!--
  ~ Copyright (c) 2022 Áron Katona
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="card">
  <article class="card-body">
    <!--    <a class="float-right btn btn-outline-primary" href="">Sign up</a>-->
    <h4 class="card-title mb-4 mt-1">Login</h4>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <form (keyup.enter)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input [ngClass]="{ 'is-invalid': submitted && fUsername.errors }" class="form-control"
               formControlName="username" id="username" placeholder="Username" type="text">
        <div *ngIf="submitted && fUsername.errors" class="invalid-feedback">
          <div *ngIf="fUsername.errors['required']">Username is required</div>
        </div>
      </div> <!-- form-group// -->
      <div class="form-group">
        <!--        <a class="float-right" href="#">Forgot?</a>-->
        <label for="password">Password</label>
        <input [ngClass]="{ 'is-invalid': submitted && fPassword.errors }" class="form-control"
               formControlName="password" id="password" placeholder="******" type="password">
        <div *ngIf="submitted && fPassword.errors" class="invalid-feedback">
          <div *ngIf="fPassword.errors['required']">Password is required</div>
        </div>
      </div> <!-- form-group// -->
      <!--      <div class="form-group">-->
      <!--        <div class="checkbox">-->
      <!--          <label> <input type="checkbox"> Save password </label>-->
      <!--        </div> &lt;!&ndash; checkbox .// &ndash;&gt;-->
      <!--      </div> &lt;!&ndash; form-group// &ndash;&gt;-->
      <div class="form-buttons">
        <button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary btn-block">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </div>
    </form>
  </article>
</div> <!-- card.// -->
